.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: lightgrey;
}

.header-container {
    background-color: #262626;
    padding: 5px;
    min-height: 8vh;
    width: 100%;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}