.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    background-color: darkblue;
    padding: 5px;
    min-height: 8vh;
    width: 100%;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}